htlm {
    height: 100%; 
 }
 
 
 
 body {
 
     background-color:#121417;
     background-image: url(Images/gang.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     
 }
 
 .container {
     margin-left: auto;
     margin-right: auto;
     width: 1024px;
 }
 
 header {
     height: 118px;
     text-align: center;
 }
     
 
 nav {
     background-color: rgba(28, 154, 176, 0.606);
   text-align: center;
   padding-top: 14px;
   padding-bottom: 14px;
 }
 
 main {
     height: 400px;
     text-align: center;
     padding-top: 80px;
     padding-left: 240px;
    padding-right: 240px;
 }
 
 
 .vgs {
     width: 100px;
     height: 80px;
    margin-top: 20px;
    margin-right: 888px;
 }
 
 h1 {
     font-size: 30px;
     color: rgb(255, 255, 255);
     /* font-family:'Times New Roman', Times, serif; */
 }
 
 p {
     font-size: 18px;
     color: #ffffff;
      /* font-family:'Times New Roman', Times, serif; */ 
      background-color: rgb(29, 72, 80);
 }
 
 a {
     color: rgb(255, 255, 255);
     font-family: 'Times New Roman', Times, serif;
     /* text-decoration: none; */ 
   
 }
 
 nav a {
     text-decoration: none;
     font-size: 15px;
     padding-left: 10px;
     padding-right: 80px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 h2 {
    font-size: 30px;
    color: rgb(20, 55, 95);
    /* font-family:'Times New Roman', Times, serif; */
 }